 <!--Footer-->
 <footer class="page-footer text-center font-small mt-4 wow fadeIn">
  <div >
      <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
      <p>
        <i class="fas fa-home mr-3 fa-2x"></i> 33 Avenue 14 Janvier SIDI BOU SAID 2026 Tunis
        </p>
      <p>
        <i class="fas fa-envelope mr-3 fa-2x"></i> mohderouiche250881@gmail.com</p>
      <p>
        <i class="fas fa-phone mr-3 fa-2x"></i>+ 216 26 915 627</p>
    </div>
  <hr class="my-4">
  <!-- Social icons -->
  <div class="pb-4">
      <a href="https://www.facebook.com/mohamed.amine.186590/" target="_blank">
          <i class="fab fa-facebook-f fa-2x mr-3 indigo-text"></i>
        </a>
        <a href="https://www.linkedin.com/in/mohamed-amine-der-983a581b1/" target="_blank">
          <i class="fab fa-linkedin fa-2x mr-3"></i>
        </a>
        <a href="https://www.google.com/" target="_blank">
          <i class="fab fa-google fa-2x mr-3  red-text"></i>
        </a>
        <a href="https://github.com/MohamedAmineDerouiche?tab=repositories" target="_blank">
          <i class="fab fa-github  fa-2x mr-3"></i>
        </a>
  </div>
  <!-- Social icons -->
</footer>
<!--/.Footer-->
